<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" href="images/icon.png" type="image/png"/>
	<link rel="shortcut icon" href="images/icon.png" type="image/png"/>
	<link type="image/x-icon" rel="icon" href="images/icon.png"/>
	<title>Share TXT</title>
	<meta name="robots" content="index,follow"/>
	<meta name="googlebot" content="index,follow"/>
	<meta name="description" content="Share text between browser windows in real time"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@rexthony"/>
	<meta name="twitter:creator" content="@rexthony"/>
	<meta property="twitter:image" content="/images/twitter-card.png"/>
	<meta property="twitter:title" content="Share TXT"/>
	<meta property="og:url" content="http://sharetxt.live/"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Share text between browser windows in real time"/>
	<meta property="og:description" content="Share text between browser windows in real time."/>
	<meta property="og:image" content="/images/twitter-card.png"/>
	<meta property="og:site_name" content="Share TXT"/>
	<meta property="og:locale" content="en_US"/>
	<link rel="canonical" href="http://sharetxt.live/"/>
	<meta name="next-head-count" content="18"/>
	<link type="text/css" rel="stylesheet" href="css/index.css"/>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/dictionary.js"></script>
	<script type="text/javascript" src="/js/translate.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script>
		const ROOM_NAME = "<%= roomName %>";
		const LANG = "<%= lang %>";
		console.log("language : " + LANG);
	</script>
	<script async src="https://cdn.splitbee.io/sb.js"></script>
	<script async defer data-domain='sharetxt.live' src='https://pageinsight.herokuapp.com/js/pageinsight.js'></script>
	<script>window.pageinsight = window.pageinsight || function () {(window.pageinsight.b = window.pageinsight.b || []).push(arguments)};</script>
</head>

<body>
	<div id="container" class="custom-lm-container">
		<div id="mainBg">
			<div class="custom-responsive-container custom-nav-height">
				<table class="rex-height-100pp rex-width-100pp">
					<tr>
						<td class="rex-width-40px">
							<a href="http://sharetxt.live">
								<img src="/images/icon.png" class="custom-icon-size rex-width-40px rex-height-40px rex-display-table-cell rex-vertical-align rex-mr-16px">
							</a>
						</td>
						<td>
							<span id="appName" class="rex-weight-bold rex-vertical-align rex-fs-x-large rex-text-overflow-ellipses rex-mr-16px">Share TXT</span>
							<span id="appVersion" class="rex-fs-xx-small rex-nowrap">v 1.5.0</span>
						</td>
						<td class="rex-width-0px rex-text-align-right">
							<div class="rex-display-inline-block rex-nowrap">
								<label for="customToggleLightSwitch">
									<span id="colorTheme" class="rex-fs-normal custom-lm-mode-color rex-mr-8px rex-vertical-align rex-hover" translate>Light mode</span>
								</label>
								<label class="rex-toggle-switch rex-vertical-align rex-mr-8px">
									<input id="customToggleLightSwitch" type="checkbox">
									<span class="rex-toggle-switch-slider rex-toggle-switch-round"></span>
								</label>
								<span class="custom-border-left">

									<div id="languageToggle" class="rex-cd-dropdown">
										<span class="rex-cd-dropbtn rex-curDiv-8px rex-vertical-align-span rex-pad8px12px rex-hover">
											<span id="selectedLang" class="rex-fs-normal rex-vertical-align">
												FR
											</span>
										</span>
										<div id="languageToggleDropdown" class="rex-cd-dropdown-content-min">
											<span class="custom-dropdown-content rex-fs-normal rex-display-block rex-pad12px16px rex-selectable-item-background rex-hover">EN</span>
											<span class="custom-dropdown-content rex-fs-normal rex-display-block rex-pad12px16px rex-selectable-item-background rex-hover rex-item-selected">FR</span>
											<span class="custom-dropdown-content rex-fs-normal rex-display-block rex-pad12px16px rex-selectable-item-background rex-hover">TW</span>
										</div>
									</div>


								</span>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="custom-display-grid rex-display-grid2">
				<div class="custom-hero-container custom-display-height custom-responsive-container">
					<p id="headline" class="custom-hero-text custom-lm-title-color rex-fs-normal rex-mt-32px rex-lh-normal rex-width-70pp" translate>Visit this website on two devices or browser windows. Enter your text in the field to share.</p>

					<div id="clientsLabel" class="rex-mt-32px custom-lm-title-color">
						<span id="numConnections" class="rex-weight-bold">0 clients</span> <span translate>connected in</span> <span id="roomName" class="rex-weight-bold rex-hover rex-mr-8px custom-path">default</span><img id="redirectIcon" src="/images/ic_redirect.png" class="custom-redirect">
					</div>

					<div id="producthuntLight" class="rex-mt-64px">
						<a href="https://www.producthunt.com/posts/share-txt?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-share-txt" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=284242&theme=light" alt="Share TXT - Share text between browsers in real time | Product Hunt" style="width: 200px; height: 43px;" width="200" height="43" /></a>
					</div>
					<div id="producthuntDark" class="rex-mt-64px">
						<a href="https://www.producthunt.com/posts/share-txt?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-share-txt" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=284242&theme=dark" alt="Share TXT - Share text between browsers in real time | Product Hunt" style="width: 200px; height: 43px;" width="200" height="43" /></a>
					</div>

					<p id="createdBy" class="rex-mt-32px custom-lm-version-color rex-fs-small rex-mb-16px rex-lh-xx-small"><span translate>Created with</span> <span style="color:red;">&#10084;</span> <span translate>by</span> <a href="https://twitter.com/rexthony" target="_blank" style="text-decoration: none;" class="custom-color rex-weight-bold">Rex Anthony</a></p>
				</div>
				<div id="editorBg" class="custom-display-height">
					<div class="custom-editor-input-height">
						<textarea id="inputField" placeholder="Type or paste text to share." class="rex-fs-normal rex-lh-normal rex-width-100pp rex-height-100pp rex-noresize custom-input-field-container rex-pt-8px rex-background-transparent rex-no-border"></textarea>
					</div>
					<div id="copyBtn" class="custom-editor-btn-height custom-editor-btn rex-hover rex-display-flex rex-center-flex-items">
						<span id="copyBtnContent" class="rex-color-white rex-fs-large rex-weight-bold" translate>Copy to clipboard</span>
					</div>
				</div>
			</div>
		</div>

		<div id="modalBackground" class="rex-modal-background custom-modal-background">
			<div class="custom-modal">
				<div id="gotoHeader" class="rex-height-40px custom-lm-modal-nav-background-color custom-lm-modal-nav-color rex-display-flex rex-center-flex-items" translate>Go to</div>
				<div id="gotoBodyBg" class="rex-pad16px">
					<table class="rex-width-100pp rex-mt-32px">
						<tr>
							<td class="rex-width-0">
								<span class="custom-color">http://sharetxt.live/</span>
							</td>
							<td>
								<input type="text" id="pathUrl" class="rex-width-100pp rex-fs-normal custom-lm-modal-input">
							</td>
						</tr>
					</table>
					<div class="rex-text-align-right rex-mt-32px">
						<button id="gotoUrl" class="rex-btn-primary rex-fs-normal rex-nowrap" translate>Go to url</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>