.rex-btn-secondary{
	padding: 8px 16px;
	background-color: transparent;
	border: 0;
	letter-spacing: 2px;
	color: rgb(71, 190, 185);
}

.rex-btn-secondary:hover{
	cursor: pointer;
	background-color: rgba(80, 80, 80, 0.4);
}

.rex-btn-primary{
	padding: 8px 16px;
	background-color: transparent;
	border: 0;
	letter-spacing: 2px;
	color: rgb(71, 190, 185);
}

.rex-btn-primary:hover{
	cursor: pointer;
	background-color: rgb(240, 240, 240);
}

.rex-btn-danger{
	padding: 16px;
	background-color: transparent;
	border: 1px solid rgb(180, 180, 180);
	border-radius: 8px;
	letter-spacing: 2px;
	color: rgb(250, 10, 10);
}

.rex-btn-danger:hover{
	cursor: pointer;
	background-color: rgb(240, 240, 240);
}

.rex-input-primary{
	padding: 12px 16px;
	border: 0;
	border-radius: 6px;
	background-color: rgb(240, 240, 240);
}

.rex-input-primary:focus{
	border: 1px solid rgb(56, 89, 220);
	background-color: transparent;
}

.rex-text-color-hover:hover{
	cursor: pointer;
	color: rgb(56, 89, 220);
}

.rex-text-underline-hover:hover{
	cursor: pointer;
	text-decoration: underline;
}

.rex-hover{
	cursor: pointer;
}

.rex-overflow-hidden{
	overflow: hidden;
}

.rex-overflow-auto{
	overflow: auto;
}

.rex-overflow-horizontal{
	overflow-x: scroll;
}

.rex-box-shadow1{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.rex-box-shadow2{
	box-shadow: 0px 3px 2px 0px rgba(140,140,140,0.2);
}

.rex-modal-background{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}