.rex-max-height-100px{
	max-height: 100px;
}

.rex-max-height-200px{
	max-height: 200px;
}

.rex-max-height-300px{
	max-height: 300px;
}

.rex-max-height-400px{
	max-height: 400px;
}

.rex-max-height-450px{
	max-height: 450px;
}

.rex-max-height-500px{
	max-height: 500px;
}

.rex-min-height-100px{
	min-height: 100px;
}

.rex-min-height-200px{
	min-height: 200px;
}

.rex-min-height-300px{
	min-height: 300px;
}

.rex-min-height-400px{
	min-height: 400px;
}

.rex-min-height-450px{
	min-height: 450px;
}

.rex-min-height-500px{
	min-height: 500px;
}

.rex-height-10vh{
	height: 10vh;
}

.rex-height-100vh{
	height: 100vh;
}

.rex-height-20vh{
	height: 20vh;
}

.rex-height-0pp{
	height: 0%;
}

.rex-height-10pp{
	height: 10%;
}

.rex-height-20pp{
	height: 20%;
}

.rex-height-30pp{
	height: 30%;
}

.rex-height-40pp{
	height: 40%;
}

.rex-height-50pp{
	height: 50%;
}

.rex-height-60pp{
	height: 60%;
}

.rex-height-70pp{
	height: 70%;
}

.rex-height-80pp{
	height: 80%;
}

.rex-height-90pp{
	height: 90%;
}

.rex-height-100pp{
	height: 100%;
}

.rex-height-1px{
	height: 1px;
}

.rex-height-2px{
	height: 2px;
}

.rex-height-3px{
	height: 3px;
}

.rex-height-4px{
	height: 4px;
}

.rex-height-5px{
	height: 5px;
}

.rex-height-10px{
	height: 10px;
}

.rex-height-16px{
	height: 16px;
}

.rex-height-20px{
	height: 20px;
}

.rex-height-24px{
	height: 24px;
}

.rex-height-32px{
	height: 32px;
}

.rex-height-30px{
	height: 30px;
}

.rex-height-35px{
	height: 35px;
}

.rex-height-40px{
	height: 40px;
}

.rex-height-50px{
	height: 50px;
}

.rex-height-60px{
	height: 60px;
}

.rex-height-64px{
	height: 64px;
}

.rex-height-70px{
	height: 70px;
}

.rex-height-80px{
	height: 80px;
}

.rex-height-90px{
	height: 90px;
}

.rex-height-100px{
	height: 100px;
}

.rex-height-150px{
	height: 150px;
}

.rex-height-200px{
	height: 200px;
}

.rex-height-300px{
	height: 300px;
}

.rex-height-400px{
	height: 400px;
}

.rex-height-500px{
	height: 500px;
}

.rex-height-550px{
	height: 550px;
}

.rex-width-0{
	width: 0;
}

.rex-width-0pp{
	width: 0%;
}

.rex-width-5pp{
	width: 5%;
}

.rex-width-10pp{
	width: 10%;
}

.rex-width-20pp{
	width: 20%;
}

.rex-width-30pp{
	width: 30%;
}

.rex-width-40pp{
	width: 40%;
}

.rex-width-50pp{
	width: 50%;
}

.rex-width-55pp{
	width: 55%;
}

.rex-width-60pp{
	width: 60%;
}

.rex-width-65pp{
	width: 65%;
}

.rex-width-70pp{
	width: 70%;
}

.rex-width-80pp{
	width: 80%;
}

.rex-width-90pp{
	width: 90%;
}

.rex-width-100pp{
	width: 100%;
}

.rex-width-200pp{
	width: 200%;
}

.rex-width-0px{
	width: 0px;
}

.rex-width-10px{
	width: 10px;
}

.rex-width-16px{
	width: 16px;
}

.rex-width-20px{
	width: 20px;
}

.rex-width-24px{
	width: 24px;
}

.rex-width-30px{
	width: 30px;
}

.rex-width-32px{
	width: 32px;
}

.rex-width-35px{
	width: 35px;
}

.rex-width-40px{
	width: 40px;
}

.rex-width-50px{
	width: 50px;
}

.rex-width-60px{
	width: 60px;
}

.rex-width-64px{
	width: 64px;
}

.rex-width-70px{
	width: 70px;
}

.rex-width-80px{
	width: 80px;
}

.rex-width-90px{
	width: 90px;
}

.rex-width-100px{
	width: 100px;
}

.rex-width-120px{
	width: 120px;
}

.rex-width-200px{
	width: 200px;
}

.rex-width-250px{
	width: 250px;
}

.rex-width-300px{
	width: 300px;
}

.rex-width-350px{
	width: 350px;
}

.rex-width-400px{
	width: 400px;
}

.rex-width-500px{
	width: 500px;
}

.rex-width-600px{
	width: 600px;
}

.rex-width-700px{
	width: 700px;
}

.rex-width-800px{
	width: 800px;
}

.rex-width-900px{
	width: 900px;
}

.rex-min-width-100pp{
	min-width: 100%;
}

.rex-min-width-200pp{
	min-width: 200%;
}

.rex-min-width-300pp{
	min-width: 300%;
}

.rex-min-width-400pp{
	min-width: 400%;
}

.rex-min-width-500pp{
	min-width: 500%;
}

.rex-min-width-600pp{
	min-width: 600%;
}

.rex-min-width-700pp{
	min-width: 700%;
}

.rex-min-width-800pp{
	min-width: 800%;
}

.rex-min-width-900pp{
	min-width: 900%;
}

.rex-min-width-1000pp{
	min-width: 1000%;
}

.rex-min-width-80px{
	min-width: 80px;
}

.rex-min-width-100px{
	min-width: 100px;
}

.rex-min-width-160px{
	min-width: 160px;
}

.rex-min-width-160px{
	min-width: 150px;
}

.rex-min-width-200px{
	min-width: 200px;
}

