.rex-margin16px{
	margin: 16px;
}

.rex-margin32px{
	margin: 32px;
}

.rex-mt-2px{
	margin-top: 2px;
}

.rex-mt-4px{
	margin-top: 4px;
}

.rex-mt-6px{
	margin-top: 6px;
}

.rex-mt-8px{
	margin-top: 8px;
}

.rex-mt-10px{
	margin-top: 10px;
}

.rex-mt-16px{
	margin-top: 16px;
}

.rex-mt-18px{
	margin-top: 18px;
}

.rex-mt-24px{
	margin-top: 24px;
}

.rex-mt-28px{
	margin-top: 28px;
}

.rex-mt-32px{
	margin-top: 32px;
}

.rex-mt-48px{
	margin-top: 48px;
}

.rex-mt-64px{
	margin-top: 64px;
}

.rex-mt--10px{
	margin-top: -10px;
}

.rex-ml-8px{
	margin-left: 8px;
}

.rex-ml-16px{
	margin-left: 16px;
}

.rex-ml-32px{
	margin-left: 32px;
}

.rex-mr-8px{
	margin-right: 8px;
}

.rex-mr-16px{
	margin-right: 16px;
}

.rex-mr-32px{
	margin-right: 32px;
}

.rex-mb-8px{
	margin-bottom: 8px;
}

.rex-mb-16px{
	margin-bottom: 16px;
}

.rex-mb-32px{
	margin-bottom: 32px;
}

.rex-mb-64px{
	margin-bottom: 64px;
}