.rex-pad0px{
	padding: 0px;
}

.rex-pad4px{
	padding: 4px;
}

.rex-pad8px{
	padding: 8px;
}

.rex-pad16px{
	padding: 16px;
}

.rex-pad24px{
	padding: 24px;
}

.rex-pad32px{
	padding: 32px;
}

.rex-pr-4px{
	padding-right: 4px;
}

.rex-pr-8px{
	padding-right: 8px;
}

.rex-pr-16px{
	padding-right: 16px;
}

.rex-pr-24px{
	padding-right: 24px;
}

.rex-pr-32px{
	padding-right: 32px;
}

.rex-pl-4px{
	padding-left: 4px;
}

.rex-pl-8px{
	padding-left: 8px;
}

.rex-pl-16px{
	padding-left: 16px;
}

.rex-pl-24px{
	padding-left: 24px
}

.rex-pl-32px{
	padding-left: 32px;
}

.rex-pt-4px{
	padding-top: 4px;
}

.rex-pt-8px{
	padding-top: 8px;
}

.rex-pt-12px{
	padding-top: 12px;
}

.rex-pt-16px{
	padding-top: 16px;
}

.rex-pt-18px{
	padding-top: 18px;
}

.rex-pt-24px{
	padding-top: 24px;
}

.rex-pt-32px{
	padding-top: 32px;
}

.rex-pb-4px{
	padding-bottom: 4px;
}

.rex-pb-8px{
	padding-bottom: 8px;
}

.rex-pb-12px{
	padding-bottom: 12px;
}

.rex-pb-16px{
	padding-bottom: 16px;
}

.rex-pb-18px{
	padding-bottom: 18px;
}

.rex-pb-24px{
	padding-bottom: 24px;
}

.rex-pb-32px{
	padding-bottom: 32px;
}