/* The switch - the box around the slider */
.rex-toggle-switch{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.rex-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.rex-toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.rex-toggle-switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .rex-toggle-switch-slider {
  background-color: #2196F3;
  background-color: rgb(71, 190, 185);
}

input:focus + .rex-toggle-switch-slider {
  box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px rgb(71, 190, 185);
}

input:checked + .rex-toggle-switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.rex-toggle-switch-slider.rex-toggle-switch-round {
  border-radius: 34px;
}

.rex-toggle-switch-slider.rex-toggle-switch-round:before {
  border-radius: 50%;
}






/* The switch - the box around the slider */
.rex-toggle-switch-small{
	position: relative;
	display: inline-block;
	width: 45px;
	height: 25px;
}

/* Hide default HTML checkbox */
.rex-toggle-switch-small input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.rex-toggle-switch-slider-small {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.rex-toggle-switch-slider-small:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .rex-toggle-switch-slider-small {
  background-color: #2196F3;
  background-color: rgb(71, 190, 185);
}

input:focus + .rex-toggle-switch-slider-small {
  box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px rgb(71, 190, 185);
}

input:checked + .rex-toggle-switch-slider-small:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.rex-toggle-switch-slider-small.rex-toggle-switch-round {
  border-radius: 25px;
}

.rex-toggle-switch-slider-small.rex-toggle-switch-round:before {
  border-radius: 50%;
}







@media (max-width: 625px) {
  .rex-toggle-switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }

  .rex-toggle-switch-slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }  

  input:checked + .rex-toggle-switch-slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }
}