.rex-fs-xxxxxx-large{
	font-size: 44px;
}

.rex-fs-xxxxx-large{
	font-size: 40px;
}

.rex-fs-xxxx-large{
	font-size: 36px;
}

.rex-fs-xxx-large{
	font-size: 32px;
}

.rex-fs-xx-large{
	font-size: 28px;
}

.rex-fs-x-large{
	font-size: 24px;
}

.rex-fs-large{
	font-size: 20px;
}

.rex-fs-normal{
	font-size: 16px;
}

.rex-fs-small{
	font-size: 14px;
}

.rex-fs-x-small{
	font-size: 13px;
}

.rex-fs-xx-small{
	font-size: 12px;
}

.rex-lh-xxx-large{
	line-height: 64px;
}

.rex-lh-xx-large{
	line-height: 52px;
}

.rex-lh-x-large{
	line-height: 42px;
}

.rex-lh-large{
	line-height: 32px;
}

.rex-lh-normal{
	line-height: 28px;
}

.rex-lh-small{
	line-height: 24px;
}

.rex-lh-x-small{
	line-height: 20px;
}

.rex-lh-xx-small{
	line-height: 18px;
}


@media (max-width: 1280px){
	
}

@media (max-width: 1000px){
	
}

@media (max-width: 800px){
	
}

@media (max-width: 600px){
	.rex-fs-xxx-large{
		font-size: 28px;
	}

	.rex-fs-xx-large{
		font-size: 24px;
	}

	.rex-fs-x-large{
		font-size: 20px;
	}

	.rex-fs-large{
		font-size: 18px;
	}

	.rex-fs-normal{
		font-size: 14px;
	}

	.rex-fs-small{
		font-size: 12px;
	}

	.rex-fs-x-small{
		font-size: 11px;
	}

	.rex-fs-xx-small{
		font-size: 10px;
	}
}